In [1]:
# Import necessary Libraries and Dataset

import pandas as pd
import numpy as np

claims = pd.read_csv("C:/Users/HP/Desktop/Dafe/DS_Projects/FNOL_Insurance/data/raw/claims.csv")
policyholders = pd.read_csv("C:/Users/HP/Desktop/Dafe/DS_Projects/FNOL_Insurance/data/raw/policyholders.csv")
third_party = pd.read_csv("C:/Users/HP/Desktop/Dafe/DS_Projects/FNOL_Insurance/data/raw/third_parties.csv")

# Display the first few rows of each dataset to understand their structure
print("Claims Dataset:")
print(claims.head())
print("\nPolicyholders Dataset:")
print(policyholders.head())
print("\nThird Party Dataset:")
print(third_party.head())

Claims Dataset:
   Claim_ID Policy_ID Accident_Date   FNOL_Date Claim_Type Claim_Complexity  \
0  CLM30000  POL14506    2019-12-19  2019-12-19      Theft           Medium
1  CLM30001  POL14338    2018-12-30  2018-12-31  Collision              Low
2  CLM30002  POL13575    2021-10-19  2021-10-19      Other           Medium
3  CLM30003  POL10138    2021-06-18  2021-06-18    Weather              Low
4  CLM30004  POL12316    2021-03-21  2021-03-24      Theft              Low

   Fraud_Flag  Litigation_Flag  Estimated_Claim_Amount  Ultimate_Claim_Amount  \
0       False             True                    5243                 2808.0
1       False            False                    3934                 2952.0
2       False            False                  153631               156497.0
3       False            False                    2812                 1450.0
4       False            False                    5094                 4243.0

  Severity_Band Settlement_Date   Status
0         Minor      2020-03-01  settled
1         Minor      2019-03-23  settled
2  Catastrophic      2022-04-22  settled
3         Minor      2021-09-13  settled
4         Minor      2021-05-26  settled

Policyholders Dataset:
  Policy_ID Customer_ID  Age_of_Driver  Gender  Occupation      Region  \
0  POL10000   CUST20000             56  Female     Retired   Newcastle
1  POL10001   CUST20001             53  Female  Unemployed     Bristol
2  POL10002   CUST20002             19  Female  Unemployed      London
3  POL10003   CUST20003             77  Female     Retired  Birmingham
4  POL10004   CUST20004             24    Male    Employed  Manchester

   Annual_Mileage  Driving_Experience_Years Vehicle_Type  Vehicle_Age  \
0            7552                        36        Sedan           10
1           13275                        31   Motorcycle           11
2           12967                         0        Sedan            9
3            4346                        56    Hatchback            2
4            9598                         2        Sedan           14

  Credit_Score_Band
0              Fair
1              Poor
2         Excellent
3              Fair
4              Good

Third Party Dataset:
   Claim_ID    TP_ID ThirdParty_Role TP_Injury_Severity
0  CLM30000  TP40000      Pedestrian              Minor
1  CLM30002  TP40001       Passenger              Minor
2  CLM30007  TP40002      Pedestrian              Minor
3  CLM30012  TP40003      Pedestrian              Minor
4  CLM30015  TP40004          Driver              Minor

In [2]:
# Checks for missing values

claims_missing = claims.isnull().sum()
policyholders_missing = policyholders.isnull().sum()
third_party_missing = third_party.isnull().sum()

In [3]:
print("\nMissing Values in Claims Dataset:")
print(claims_missing)

print("\nMissing Values in Policyholders Dataset:")
print(policyholders_missing)

print("\nMissing Values in Third Party Dataset:")
print(third_party_missing)

Missing Values in Claims Dataset:
Claim_ID                    0
Policy_ID                   0
Accident_Date               0
FNOL_Date                   0
Claim_Type                  0
Claim_Complexity            0
Fraud_Flag                  0
Litigation_Flag             0
Estimated_Claim_Amount      0
Ultimate_Claim_Amount     425
Severity_Band               0
Settlement_Date           425
Status                      0
dtype: int64

Missing Values in Policyholders Dataset:
Policy_ID                   0
Customer_ID                 0
Age_of_Driver               0
Gender                      0
Occupation                  0
Region                      0
Annual_Mileage              0
Driving_Experience_Years    0
Vehicle_Type                0
Vehicle_Age                 0
Credit_Score_Band           0
dtype: int64

Missing Values in Third Party Dataset:
Claim_ID              0
TP_ID                 0
ThirdParty_Role       0
TP_Injury_Severity    0
dtype: int64

In [4]:
# Check data types of each column

print("\nData Types in Claims Dataset:")
print(claims.dtypes)

print("\nData Types in Policyholders Dataset:")
print(policyholders.dtypes)

print("\nData Types in Third Party Dataset:")
print(third_party.dtypes)

Data Types in Claims Dataset:
Claim_ID                   object
Policy_ID                  object
Accident_Date              object
FNOL_Date                  object
Claim_Type                 object
Claim_Complexity           object
Fraud_Flag                   bool
Litigation_Flag              bool
Estimated_Claim_Amount      int64
Ultimate_Claim_Amount     float64
Severity_Band              object
Settlement_Date            object
Status                     object
dtype: object

Data Types in Policyholders Dataset:
Policy_ID                   object
Customer_ID                 object
Age_of_Driver                int64
Gender                      object
Occupation                  object
Region                      object
Annual_Mileage               int64
Driving_Experience_Years     int64
Vehicle_Type                object
Vehicle_Age                  int64
Credit_Score_Band           object
dtype: object

Data Types in Third Party Dataset:
Claim_ID              object
TP_ID                 object
ThirdParty_Role       object
TP_Injury_Severity    object
dtype: object

In [5]:
# List columns in each dataset

print("\nColumns in Claims Dataset:")
print(claims.columns)

Columns in Claims Dataset:
Index(['Claim_ID', 'Policy_ID', 'Accident_Date', 'FNOL_Date', 'Claim_Type',
       'Claim_Complexity', 'Fraud_Flag', 'Litigation_Flag',
       'Estimated_Claim_Amount', 'Ultimate_Claim_Amount', 'Severity_Band',
       'Settlement_Date', 'Status'],
      dtype='object')

In [6]:
# List of columns in Policyholders Dataset

print("\nColumns in Policyholders Dataset:")
print(policyholders.columns)

Columns in Policyholders Dataset:
Index(['Policy_ID', 'Customer_ID', 'Age_of_Driver', 'Gender', 'Occupation',
       'Region', 'Annual_Mileage', 'Driving_Experience_Years', 'Vehicle_Type',
       'Vehicle_Age', 'Credit_Score_Band'],
      dtype='object')

In [7]:
# List of columns in Policyholders Dataset

print("\nColumns in Policyholders Dataset:")
print(policyholders.columns)

Columns in Policyholders Dataset:
Index(['Policy_ID', 'Customer_ID', 'Age_of_Driver', 'Gender', 'Occupation',
       'Region', 'Annual_Mileage', 'Driving_Experience_Years', 'Vehicle_Type',
       'Vehicle_Age', 'Credit_Score_Band'],
      dtype='object')

In [8]:
# Convert date columns to datetime format in the claims table

claims['Accident_Date'] = pd.to_datetime(claims['Accident_Date'])
claims['FNOL_Date'] = pd.to_datetime(claims['FNOL_Date'])
claims['Settlement_Date'] = pd.to_datetime(claims['Settlement_Date'])

In [9]:
# Clean Claims table and fill in missing values

claims['Ultimate_Claim_Amount'].fillna(claims['Ultimate_Claim_Amount'].median(), inplace=True)
claims['Settlement_Date'].fillna(method='ffill', inplace=True)

claims.isnull().sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_12628\2418383581.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  claims['Ultimate_Claim_Amount'].fillna(claims['Ultimate_Claim_Amount'].median(), inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_12628\2418383581.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  claims['Settlement_Date'].fillna(method='ffill', inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_12628\2418383581.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  claims['Settlement_Date'].fillna(method='ffill', inplace=True)

Claim_ID                  0
Policy_ID                 0
Accident_Date             0
FNOL_Date                 0
Claim_Type                0
Claim_Complexity          0
Fraud_Flag                0
Litigation_Flag           0
Estimated_Claim_Amount    0
Ultimate_Claim_Amount     0
Severity_Band             0
Settlement_Date           0
Status                    0
dtype: int64

In [10]:
# Merge the datasets on the common key 'Policy_ID'

merged_data = pd.merge(claims, policyholders, on='Policy_ID', how='left')
merged_data = pd.merge(merged_data, third_party, on='Claim_ID', how='left')

# Display the first few rows of the merged dataset
print("\nMerged Dataset:")
print(merged_data.head())

Merged Dataset:
   Claim_ID Policy_ID Accident_Date  FNOL_Date Claim_Type Claim_Complexity  \
0  CLM30000  POL14506    2019-12-19 2019-12-19      Theft           Medium
1  CLM30001  POL14338    2018-12-30 2018-12-31  Collision              Low
2  CLM30002  POL13575    2021-10-19 2021-10-19      Other           Medium
3  CLM30003  POL10138    2021-06-18 2021-06-18    Weather              Low
4  CLM30004  POL12316    2021-03-21 2021-03-24      Theft              Low

   Fraud_Flag  Litigation_Flag  Estimated_Claim_Amount  Ultimate_Claim_Amount  \
0       False             True                    5243                 2808.0
1       False            False                    3934                 2952.0
2       False            False                  153631               156497.0
3       False            False                    2812                 1450.0
4       False            False                    5094                 4243.0

   ...  Occupation     Region Annual_Mileage Driving_Experience_Years  \
0  ...     Retired    Glasgow           4891                       34
1  ...    Employed  Newcastle          18408                       23
2  ...  Unemployed  Newcastle          10793                        0
3  ...    Employed  Newcastle           9405                        5
4  ...  Unemployed      Leeds          16729                        9

   Vehicle_Type Vehicle_Age Credit_Score_Band    TP_ID  ThirdParty_Role  \
0     Hatchback           6         Excellent  TP40000       Pedestrian
1           Van           9              Fair      NaN              NaN
2           SUV           5         Excellent  TP40001        Passenger
3     Hatchback          13              Good      NaN              NaN
4     Hatchback          12         Excellent      NaN              NaN

   TP_Injury_Severity
0               Minor
1                 NaN
2               Minor
3                 NaN
4                 NaN

[5 rows x 26 columns]

In [11]:
merged_data.head()

,Claim_ID,Policy_ID,Accident_Date,FNOL_Date,Claim_Type,Claim_Complexity,Fraud_Flag,Litigation_Flag,Estimated_Claim_Amount,Ultimate_Claim_Amount,...,Occupation,Region,Annual_Mileage,Driving_Experience_Years,Vehicle_Type,Vehicle_Age,Credit_Score_Band,TP_ID,ThirdParty_Role,TP_Injury_Severity
0,CLM30000,POL14506,2019-12-19,2019-12-19,Theft,Medium,False,True,5243,2808.0,...,Retired,Glasgow,4891,34,Hatchback,6,Excellent,TP40000,Pedestrian,Minor
1,CLM30001,POL14338,2018-12-30,2018-12-31,Collision,Low,False,False,3934,2952.0,...,Employed,Newcastle,18408,23,Van,9,Fair,NaN,NaN,NaN
2,CLM30002,POL13575,2021-10-19,2021-10-19,Other,Medium,False,False,153631,156497.0,...,Unemployed,Newcastle,10793,0,SUV,5,Excellent,TP40001,Passenger,Minor
3,CLM30003,POL10138,2021-06-18,2021-06-18,Weather,Low,False,False,2812,1450.0,...,Employed,Newcastle,9405,5,Hatchback,13,Good,NaN,NaN,NaN
4,CLM30004,POL12316,2021-03-21,2021-03-24,Theft,Low,False,False,5094,4243.0,...,Unemployed,Leeds,16729,9,Hatchback,12,Excellent,NaN,NaN,NaN

In [12]:
# Check for missing values in the merged dataset

merged_data.isnull().sum()

Claim_ID                       0
Policy_ID                      0
Accident_Date                  0
FNOL_Date                      0
Claim_Type                     0
Claim_Complexity               0
Fraud_Flag                     0
Litigation_Flag                0
Estimated_Claim_Amount         0
Ultimate_Claim_Amount          0
Severity_Band                  0
Settlement_Date                0
Status                         0
Customer_ID                    0
Age_of_Driver                  0
Gender                         0
Occupation                     0
Region                         0
Annual_Mileage                 0
Driving_Experience_Years       0
Vehicle_Type                   0
Vehicle_Age                    0
Credit_Score_Band              0
TP_ID                       6003
ThirdParty_Role             6003
TP_Injury_Severity          6003
dtype: int64

In [13]:
merged_data.shape

(8413, 26)

In [14]:
# drop duplicates if any

merged_data.drop_duplicates(inplace=True)

In [15]:
merged_data['ThirdParty_Role'].value_counts()

ThirdParty_Role
Passenger     836
Pedestrian    797
Driver        777
Name: count, dtype: int64

In [16]:
merged_data['TP_Injury_Severity'].value_counts()

TP_Injury_Severity
Minor      2050
Serious     342
Fatal        18
Name: count, dtype: int64

In [17]:
# Drop TP_ID

merged_data.drop(columns=['TP_ID'], inplace=True)

In [18]:
# Fill NaN values in 'ThirdParty_Role' with 'Unknown' and in 'TP_Injury_Severity' with 'No Injury'

merged_data['ThirdParty_Role'].fillna('Unknown', inplace=True)
merged_data['TP_Injury_Severity'].fillna('No Injury', inplace=True)


# Check missing values again

merged_data.isnull().sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_12628\1478716281.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_data['ThirdParty_Role'].fillna('Unknown', inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_12628\1478716281.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_data['TP_Injury_Severity'].fillna('No Injury', inplace=True)

Claim_ID                    0
Policy_ID                   0
Accident_Date               0
FNOL_Date                   0
Claim_Type                  0
Claim_Complexity            0
Fraud_Flag                  0
Litigation_Flag             0
Estimated_Claim_Amount      0
Ultimate_Claim_Amount       0
Severity_Band               0
Settlement_Date             0
Status                      0
Customer_ID                 0
Age_of_Driver               0
Gender                      0
Occupation                  0
Region                      0
Annual_Mileage              0
Driving_Experience_Years    0
Vehicle_Type                0
Vehicle_Age                 0
Credit_Score_Band           0
ThirdParty_Role             0
TP_Injury_Severity          0
dtype: int64

In [19]:
# Clean merged_data if necessary

merged_data = merged_data[merged_data['Ultimate_Claim_Amount'] >= 0]
print("\nFinal Merged Dataset:")
print(merged_data.head())

Final Merged Dataset:
   Claim_ID Policy_ID Accident_Date  FNOL_Date Claim_Type Claim_Complexity  \
0  CLM30000  POL14506    2019-12-19 2019-12-19      Theft           Medium
1  CLM30001  POL14338    2018-12-30 2018-12-31  Collision              Low
2  CLM30002  POL13575    2021-10-19 2021-10-19      Other           Medium
3  CLM30003  POL10138    2021-06-18 2021-06-18    Weather              Low
4  CLM30004  POL12316    2021-03-21 2021-03-24      Theft              Low

   Fraud_Flag  Litigation_Flag  Estimated_Claim_Amount  Ultimate_Claim_Amount  \
0       False             True                    5243                 2808.0
1       False            False                    3934                 2952.0
2       False            False                  153631               156497.0
3       False            False                    2812                 1450.0
4       False            False                    5094                 4243.0

   ...  Gender  Occupation     Region Annual_Mileage  \
0  ...  Female     Retired    Glasgow           4891
1  ...  Female    Employed  Newcastle          18408
2  ...  Female  Unemployed  Newcastle          10793
3  ...    Male    Employed  Newcastle           9405
4  ...  Female  Unemployed      Leeds          16729

   Driving_Experience_Years Vehicle_Type Vehicle_Age Credit_Score_Band  \
0                        34    Hatchback           6         Excellent
1                        23          Van           9              Fair
2                         0          SUV           5         Excellent
3                         5    Hatchback          13              Good
4                         9    Hatchback          12         Excellent

   ThirdParty_Role  TP_Injury_Severity
0       Pedestrian               Minor
1          Unknown           No Injury
2        Passenger               Minor
3          Unknown           No Injury
4          Unknown           No Injury

[5 rows x 25 columns]

In [20]:
merged_data.head()

,Claim_ID,Policy_ID,Accident_Date,FNOL_Date,Claim_Type,Claim_Complexity,Fraud_Flag,Litigation_Flag,Estimated_Claim_Amount,Ultimate_Claim_Amount,...,Gender,Occupation,Region,Annual_Mileage,Driving_Experience_Years,Vehicle_Type,Vehicle_Age,Credit_Score_Band,ThirdParty_Role,TP_Injury_Severity
0,CLM30000,POL14506,2019-12-19,2019-12-19,Theft,Medium,False,True,5243,2808.0,...,Female,Retired,Glasgow,4891,34,Hatchback,6,Excellent,Pedestrian,Minor
1,CLM30001,POL14338,2018-12-30,2018-12-31,Collision,Low,False,False,3934,2952.0,...,Female,Employed,Newcastle,18408,23,Van,9,Fair,Unknown,No Injury
2,CLM30002,POL13575,2021-10-19,2021-10-19,Other,Medium,False,False,153631,156497.0,...,Female,Unemployed,Newcastle,10793,0,SUV,5,Excellent,Passenger,Minor
3,CLM30003,POL10138,2021-06-18,2021-06-18,Weather,Low,False,False,2812,1450.0,...,Male,Employed,Newcastle,9405,5,Hatchback,13,Good,Unknown,No Injury
4,CLM30004,POL12316,2021-03-21,2021-03-24,Theft,Low,False,False,5094,4243.0,...,Female,Unemployed,Leeds,16729,9,Hatchback,12,Excellent,Unknown,No Injury

In [21]:
# Perform initial EDA on merged_data

merged_data.describe()

,Accident_Date,FNOL_Date,Estimated_Claim_Amount,Ultimate_Claim_Amount,Settlement_Date,Age_of_Driver,Annual_Mileage,Driving_Experience_Years,Vehicle_Age
count,8413,8413,8.413000e+03,8.413000e+03,8413,8413.000000,8413.000000,8413.000000,8413.000000
mean,2022-03-31 23:54:51.905384704,2022-04-02 18:02:46.884583168,1.458019e+04,1.270452e+04,2022-07-13 21:35:01.462023168,48.952336,12139.720433,29.029716,10.060502
min,2018-09-19 00:00:00,2018-09-19 00:00:00,5.500000e+02,3.320000e+02,2018-10-25 00:00:00,18.000000,500.000000,0.000000,0.000000
25%,2020-06-20 00:00:00,2020-06-22 00:00:00,2.203000e+03,1.631000e+03,2020-10-11 00:00:00,33.000000,9393.000000,14.000000,5.000000
50%,2022-04-06 00:00:00,2022-04-07 00:00:00,4.407000e+03,3.409000e+03,2022-07-13 00:00:00,49.000000,12087.000000,29.000000,10.000000
75%,2024-01-02 00:00:00,2024-01-04 00:00:00,1.169100e+04,9.041000e+03,2024-04-14 00:00:00,65.000000,14875.000000,45.000000,15.000000
max,2025-09-17 00:00:00,2025-09-22 00:00:00,1.064239e+06,1.005590e+06,2027-03-29 00:00:00,79.000000,27410.000000,61.000000,20.000000
std,NaN,NaN,3.996057e+04,3.848680e+04,NaN,17.891979,4020.525753,17.839981,6.107807

In [22]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8413 entries, 0 to 8412
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Claim_ID                  8413 non-null   object
 1   Policy_ID                 8413 non-null   object
 2   Accident_Date             8413 non-null   datetime64[ns]
 3   FNOL_Date                 8413 non-null   datetime64[ns]
 4   Claim_Type                8413 non-null   object
 5   Claim_Complexity          8413 non-null   object
 6   Fraud_Flag                8413 non-null   bool
 7   Litigation_Flag           8413 non-null   bool
 8   Estimated_Claim_Amount    8413 non-null   int64
 9   Ultimate_Claim_Amount     8413 non-null   float64
 10  Severity_Band             8413 non-null   object
 11  Settlement_Date           8413 non-null   datetime64[ns]
 12  Status                    8413 non-null   object
 13  Customer_ID               8413 non-null   object
 14  Age_of_Driver             8413 non-null   int64
 15  Gender                    8413 non-null   object
 16  Occupation                8413 non-null   object
 17  Region                    8413 non-null   object
 18  Annual_Mileage            8413 non-null   int64
 19  Driving_Experience_Years  8413 non-null   int64
 20  Vehicle_Type              8413 non-null   object
 21  Vehicle_Age               8413 non-null   int64
 22  Credit_Score_Band         8413 non-null   object
 23  ThirdParty_Role           8413 non-null   object
 24  TP_Injury_Severity        8413 non-null   object
dtypes: bool(2), datetime64[ns](3), float64(1), int64(5), object(14)
memory usage: 1.5+ MB

In [24]:
# Save the dataset for future use

merged_data.to_csv("C:/Users/HP/Desktop/Dafe/DS_Projects/FNOL_Insurance/data/processed/merged_data.csv", index=False)